* {
  font-family: "Madimi One", sans-serif;
  margin: 0; padding:0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  transition: all .2s linear;
}

html {
  font-size: 62.5%;
  overflow-y: hidden;
  scroll-behavior: smooth;
  scroll-padding-top: 6rem;
}

html::-webkit-scrollbar{
  width: .6rem;
}

html::-webkit-scrollbar-track{
  background-color: beige;
}
html::-webkit-scrollbar-thumb{
  background-color: #543C29;
}

section{
  padding: 5rem 7%;
}

.header{
  padding-top: 2rem;
  padding-bottom: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  top:0;
  left: 0; right:0;
  background: #7c7c00;
  
  z-index: 1000;

}
.header .logo{
  font-size: 3rem;
  font-weight: bolder;
  color:white;
  text-transform: capitalize;
   font-family: "Dancing Script", cursive;
}
.header .navbar #close-navbar{
  position: absolute;
  top: 1rem;
  right: 2rem;
  font-size: 4rem;
  cursor: pointer;
  color: wheat;
  display: none;
}

.header .navbar a{
  font-size: 2rem;
  margin-left: 2rem;
  color: white;
  text-transform: capitalize;
}
.header .navbar a:hover {
  padding-bottom: 0.5rem;
  color: #543C29;
}

#menu-btn{
  font-size: 2.5rem;
  cursor: pointer;
  color: black;
  display: none;
}

.home {
  min-height: 100vh;
  display: flex;
  align-items: center;
  background-image: url('saloon.png');
  background-position: center;
  background-size: cover;
 }

 .home .content{
  max-width: 60rem;
 }
.home .content span{
  font-size: 3rem;
  letter-spacing: .5rem;
  padding-bottom: .5rem;
  color: #333;
  text-transform: uppercase;
}
.home .content span {
  font-size: 3rem;
  letter-spacing: .5rem;
  padding-bottom: .5rem;
  color: #333;
  text-transform: uppercase;
}

.home .content h3{
  color:#333;
  font-size: 3rem;
  line-height: 5rem;
  font-weight: 900;
  
}

.about {
 background-image: url("team.png");
 background-repeat: no-repeat;
 background-position: left bottom;
  color: #444;
background-color: #79625C;
 
}
.about h1 {
  font-size: 3rem;
  font-weight: bolder;
  color:white;
  text-transform: capitalize;
   font-family: "Dancing Script", cursive;
}
.about .row{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.about .row .image{
  flex: 1 1 30rem;
}

.about .row .image img {
  width: 100%;
}

.about .row .content{
  flex: 1 1 51em;
  padding: 5rem;
  
}

.about .row .content h3{
  font-size: 3rem;
  color:#343642;
   font-family: "Dancing Script", cursive;
   color: aliceblue;
}

.about .row .content p{
  font-size: 2.5rem;
  font-weight: 800;
  color: #343642;
  padding: 1rem 0;
  line-height: 1.8;
  color: aliceblue;
   font-family: "Dancing Script", cursive;
}

.about .row .content .icons-container{
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  margin-top: 1rem;
}

.about .row .content .icons-container .icons{
flex: 1 1 12rem;
text-align: center;
background: white;
padding: 3rem 2rem;
}
.about .row .content .icons-container .icons img{
  height: 9rem;
}

.about .row .content .icons-container .icons h3{
padding-top: 1rem;
font-size: 1.8rem;
color:#444;
font-weight: normal;
text-transform: capitalize;
}

.services{
background-color: #E78B00;
}

.services .box-container{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  gap: 2rem;
}

.services .box-container .box{
  height:100%;
  position: relative;
  overflow: hidden;
}

.services .box-container .box img{
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.services .box-container .box:hover img{
  transform: scale(1.1);
}

.services .box-container .box .content{
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0; left: 0;
  z-index: 10;
  height: 100%;
  width: 100%;
  background: #373743;
  display: none;
}
.services .box-container .box .content h3{
  text-align: center;
  font-size: 3rem;
  color: aliceblue;
  padding-top: 40rem;
  text-transform: capitalize;
}

.services .box-container .box:hover .content{
  display: flex;
}
